body{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.grid {
  display: flex;
  font-family: 'Unbounded', cursive;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(3, 1fr);
  border: solid 1px black;

}
.square {
  width: 200px;
  height: 200px;
  font-size: 5rem;
  color:aliceblue;
  font-family: 'Unbounded', cursive;
}

.square_o {
  background-color: green;
}

.square_x {
  background-color: crimson;
}

p {
  font-size: 2rem;
  font-family: 'Unbounded', cursive;
}
.reset {
  font-family: 'Unbounded', cursive;
  margin-top: 1rem;
  font-size: 2rem;
  border: none;
  border-radius: 6px;
  background-color: aquamarine;
  padding: 1rem;
  cursor: pointer;
}
.reset:hover {
  background-color: lightyellow;
  border: solid 1px black;
}
button{
  background-color: white;
}
#X:hover{
  background-color: pink;
}
#O:hover{
  background-color: lightgreen;
}
